/* Plain - Page Styles */

.presale-sl-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 16px;
  background-color: #f5f5f5;
}

.presale-sl-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1050px;
  overflow: hidden;
}

.presale-sl-title-banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 90%;
  height: 18em;
  border-radius: 20px;
  background-color: #333;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.presale-sl-title-banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.presale-sl-title-banner img.presale-sl-variable-title-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.presale-sl-title-banner a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  font-size: small;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  border: 1px solid transparent;
}

.presale-sl-title-banner a:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
}

.presale-sl-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 2em;
}

.presale-sl-benefits-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 100%;
}

.presale-sl-benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #f5f5f5;
  width: 22em;
  height: 18em;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.presale-sl-main-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.presale-sl-compare-banner {
  width: 90%;
  min-height: 15em;
  background-color: #333;
  border-radius: 20px;
  margin-top: 2em;
  overflow: hidden;
}

.presale-sl-compare-banner img {
  width: 100%;
  height: auto;
}

.presale-sl-sub-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 15em;
  border-radius: 20px;
  margin-top: 2em;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.presale-sl-usp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 2em;
}

.presale-sl-usp-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12em;
  height: 12em;
  overflow: hidden;
}

.presale-sl-usp-item p {
  color: #333;
}

.presale-sl-ugc {
  background-color: #333;
  color: #f5f5f5;
  width: 17em;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.desktopSwiper {
  margin-top: 2em;
  width: 90%;
}

.presale-sl-swiper-ugc-button-next {
  padding-left: 10px;
}

.presale-sl-swiper-ugc-button-prev {
  padding-right: 10px;
}

.presale-sl-usp-item img {
  width: 100px;
  height: 100px;
}

.presale-sl-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  gap: 2em;
}

.presale-sl-rating-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.presale-sl-rating-stars img {
  width: 30px;
  height: 30px;
}

.presale-sl-rating-out-of-5 {
  font-size: 2em;
  font-weight: bold;
}

.presale-sl-rating-number {
  font-size: large;
  color: darkgray;
}

.presale-sl-compare {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.presale-sl-compare span {
  font-size: 2em;
  font-weight: bold;
}

.presale-sl-sale-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff3131;
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 49, 49, 1) 0%,
    rgba(255, 145, 77, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 49, 49, 1) 0%,
    rgba(255, 145, 77, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 49, 49, 1) 0%,
    rgba(255, 145, 77, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF3131", endColorstr="#FF914D", GradientType=1);
  width: 100%;
  border-radius: 20px;
  margin-top: 2em;
}

.presale-sl-sale-bar-code-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.presale-sl-sale-bar img {
  font-size: large;
  font-weight: bold;
  padding-left: 6px;
  color: #fff;
  cursor: pointer;
}

.presale-sl-sale-bar .presale-sl-sale-span {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  padding: 1em 0;
}

.presale-sl-sale-tooltip {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20px;
}

.presale-sl-sale-tooltip .presale-sl-tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -15%;
  left: 130%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.presale-sl-sale-tooltip:hover .presale-sl-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.presale-sl-countdown {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.presale-sl-pulse {
  font-size: 16px;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
.presale-sl-countdown span {
  font-size: 80px;
  font-weight: 800 !important;
  line-height: 80px;
  --tw-tracking: -0.025em;
  background-clip: text !important;
  color: transparent;
  text-shadow: none;
  background: #ff3131;
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 49, 49, 1) 0%,
    rgba(255, 145, 77, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 49, 49, 1) 0%,
    rgba(255, 145, 77, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 49, 49, 1) 0%,
    rgba(255, 145, 77, 1) 100%
  );
}

/* SLIDER */
.mySwiper {
  display: none !important;
  width: 100%;
  height: 20em;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presale-sl-swiper-item {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presale-sl-swiper-item-content {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presale-sl-swiper-item-img {
  width: 8em;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-next .presale-sl-swiper-item-img {
  width: 12em;
  height: 12em;
}

.presale-sl-swiper-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

.presale-sl-swiper-product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.presale-sl-swiper-product-info > * {
  margin: 0;
}

.presale-sl-swiper-item a {
  background-color: black;
  border: 1px solid transparent;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: background 0.3s;
}

.presale-sl-swiper-item a:hover {
  background-color: whitesmoke;
  border: 1px solid black;
  color: black;
}

.presale-sl-swiper-item h4,
.presale-sl-swiper-item p,
.presale-sl-swiper-item a {
  font-size: small;
}

.swiper-slide-next h4,
.swiper-slide-next p,
.swiper-slide-next a {
  font-size: medium;
}

.cardSwiper {
  width: 240px;
  height: 320px;
  display: none !important;
}

.presale-sl-swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide-visible {
  background-color: #ff0000;
}

.desktopSwiper video {
  width: 17em;
  height: 30em;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.presale-sl-ugcs-mobile video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.accordion-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.accordion {
  max-width: 600px;
  width: 100%;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.accordion-item {
  border-top: 1px solid #e5e7eb;
}

.accordion-header {
  background: white;
  cursor: pointer;
  padding: 1em 1.5em;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s ease;
}

.accordion-header:hover {
  background: #f9fafb;
}

.accordion-icon {
  transition: transform 0.3s ease;
}

.accordion-header.active .accordion-icon {
  transform: rotate(180deg);
}

.accordion-content {
  height: auto;
  max-height: 0;
  overflow: hidden;
  background: #f9fafb;
  padding: 0 1.5em;
  transition: max-height 0.4s ease, padding 0.3s ease;
}

.accordion-content.open {
  padding: 1em 1.5em;
}

@media (max-width: 1280px) {
  main {
    display: block;
  }

  .presale-sl-sale-bar {
    flex-direction: column;
  }

  .presale-sl-sale-line {
    display: none;
  }

  .presale-sl-sale-bar-code-wrapper .presale-sl-sale-span {
    padding-top: 0 !important;
    padding-bottom: 1em;
  }

  .presale-sl-sale-tooltip .presale-sl-tooltip-text {
    display: none;
  }

  .presale-sl-benefits-wrapper {
    flex-direction: column;
    gap: 2em;
    width: 90%;
  }

  .presale-sl-sub-banner {
    width: 90%;
  }

  .presale-sl-benefit {
    width: 100%;
  }

  .desktopSwiper {
    display: none !important;
  }

  .cardSwiper {
    display: block !important;
    width: 22em;
    max-width: 400px;
    height: 40em;
  }
}

@media (max-width: 900px) {
  .presale-sl-wrapper {
    width: 90%;
  }

  .presale-sl-main-content {
    width: 100%;
  }

  .presale-sl-usp {
    gap: 2em;
    width: 100%;
  }

  .presale-sl-usp-item {
    width: 100%;
  }

  .presale-sl-usp-item img {
    width: 50px;
    height: 50px;
  }

  .presale-sl-usp p {
    text-align: center;
  }

  .presale-sl-ugcs {
    flex-direction: column;
    gap: 2em;
  }

  .presale-sl-ugc {
    width: 100%;
  }

  .presale-sl-rating {
    flex-direction: column;
    gap: 2em;
  }

  .presale-sl-compare {
    flex-direction: column;
    width: 80%;
    gap: 2em;
  }

  .presale-sl-compare-item {
    width: 100%;
  }

  .swiper {
    width: 100%;
  }

  .presale-sl-swiper-item-content {
    width: 100%;
  }
  .swiper-slide-next .presale-sl-swiper-item-img {
    width: auto;
    height: auto;
  }

  .cardSwiper {
    width: 22em;
    height: 40em;
  }
}

@media (max-width: 600px) {
  .presale-sl-swiper-item-content {
    opacity: 60%;
  }

  .swiper-slide-next .presale-sl-swiper-item-content {
    opacity: 100%;
  }

  .presale-sl-swiper-item h4,
  .presale-sl-swiper-item p,
  .presale-sl-swiper-item a {
    font-size: x-small;
  }

  .presale-sl-swiper-item-img {
    max-width: 4em;
    max-height: 4em;
  }

  .swiper-slide-next .presale-sl-swiper-item-img {
    max-width: 8em;
    max-height: 8em;
  }

  .swiper-slide-next h4,
  .swiper-slide-next p,
  .swiper-slide-next a {
    font-size: medium;
  }

  .swiper-slide-next img {
    width: auto;
    height: auto;
  }

  .presale-sl-ugcs-mobile {
    margin: auto;
    width: 70%;
  }

  .cardSwiper {
    width: 15em;
    height: 30em;
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .presale-sl-countdown span {
    font-size: 45px;
    line-height: 45px;
  }

  .mySwiper {
    height: 15em;
  }
}
